.menu{
    font-size: 3em;
}

.gray{
    background-color: lightgray;
}

.h{
    font-size: 1.2em;
}

.quote{
    background-color: whitesmoke;
    padding: 1em 1em;
    margin: 2em 0;
    width: 85vx;
}

.hyou{
    border-spacing: 0px;
    width: 100%;
    font-size: 1em;
}

.hyou td{
    
}

.tab{
    padding: 0.5em 0.5em;
    border: solid 1px gray;
}

.box{
    padding: 0.5em 0.5em;
    margin: 1em 5em;
    border-left: solid 10px gold;
    background-color: lightyellow;
}

.columtitle{
    background-color: azure;
    margin: 1em 2em 0 2em;
    padding: 0.2em 0;
}

.colum{
    background-color: snow;
    margin: 0 2em 1em 2em;
    padding: 0.2em 1em;
}
